{% extends "base.html" %}

{% block conteudo %}


<div style="padding: 10px; display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
  <div>
    <a class="btn btn-primary" href="{{url_for('cadastrar_equipamento')}}" role="button">Cadastrar equipamento</a>
    <a class="btn btn-primary" href="{{url_for('emprestar_equipamento')}}" role="button">Emprestar</a>
    <a class="btn btn-primary" href="{{url_for('listar_equipamentos')}}" role="button">Mostrar equipamentos</a>
    <a class="btn btn-primary" href="{{url_for('listar_usuarios')}}" role="button">Mostrar usuários</a>
    <a class="btn btn-primary" href="{{url_for('listar_emprestimos')}}" role="button">Listar empréstimos</a>
  </div>
  <a class="btn btn-primary" style="background-color: red; border-color: red;" href="{{url_for('logout')}}" role="button">Sair</a>  
</div>

{% endblock %}
